body {
  font-family: "Cambay";
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;

}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.explanation {
  text-align: center;
  margin-top: 20px;
}

.explanation p {
  line-height: 23px;
  text-align: left;
}

h1 {
  text-align: center;
}

.button {
  margin: 25px;
  padding: 15px;
}

.button-container {
  text-align: center;
}

.button {
  font-weight: bolder;
}

.color-button {
  width: 30%;
  font-size: large;
}

#pink {
  background-color: #F7028D;
}

#green {
  background-color: #29E386;
}

#blue {
  background-color: #2083F5;
}

.reset-db {
  text-align: center;
}