!!!
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/application.css"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %link{ :type => "text/javascript", :src => "/js/application.js"}

    %title AB Testing with Algorithms
%body
  = yield
